node_modules
backend/logs/*
backend/logs/server.log
backend/alembic.ini
./.vscode
backend/tose_backend/*
backend/tose_backend/
frontend/.env
backend/vars/.env
backend/vars/.env.prod
frontend/.env
.idea  
