# Ignore the virtual environment
backend_tose_venv/


Makefile
README.md
setup.sh
startup.sh
test/

# Ignore all .env files (if sensitive)
*.env

# Ignore git and version control
.git/
.gitignore

# Ignore other non-essential files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3
.DS_Store
*.swp
*~
