./backend_tose_venv/
./backend_tose/venv/

./tose_backend/
venv/
./logs/
# Byte-compiled / optimized / DLL files
__pycache__/
backend/logs/server.log
vars/.env
vars/.env.prod
*.py[cod]

# C extensions
*.so

./logs/
.idea/
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml


# Sphinx documentation
docs/_build/